ServicioCrudCliente/web/WEB-INF/wsdl/localhost_8080/Servicio-CRUD/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/Servicio-CRUD/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="ListarID">
<part name="parameters" element="tns:ListarID"/>
</message>
<message name="ListarIDResponse">
<part name="parameters" element="tns:ListarIDResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<portType name="Servicios">
<operation name="operation">
<input wsam:Action="http://WebService/Servicios/operationRequest" message="tns:operation"/>
<output wsam:Action="http://WebService/Servicios/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://WebService/Servicios/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://WebService/Servicios/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="ListarID">
<input wsam:Action="http://WebService/Servicios/ListarIDRequest" message="tns:ListarID"/>
<output wsam:Action="http://WebService/Servicios/ListarIDResponse" message="tns:ListarIDResponse"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://WebService/Servicios/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://WebService/Servicios/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://WebService/Servicios/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://WebService/Servicios/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/Servicio-CRUD/Servicios"/>
</port>
</service>
</definitions>